<h1>Pin</h1>

<%= image_tag @pin.image.url(:medium) %>

<h2><%= @pin.title %></h2>
<p><%= @pin.description %></p>
<p>Posted by <strong><%= @pin.user.username %></strong></p>

<%= link_to 'Back', root_path, class: 'btn btn-default' %>

<% if current_user %>
  <%= link_to 'Edit', edit_pin_path, class: 'btn btn-default' %>
  <%= link_to 'Delete', pin_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
<% end %>

